header {
    position: fixed;
    padding: 1rem;
}
header > button {
    display: block;
    background: none;
    border: none;
    color: #2C0703;
    text-align: center;
    vertical-align: middle;
    font-size: 1rem;
}
header > button > span {
    vertical-align: middle;
}
header > button > span {
    padding-left: 0.2em;
}